#table-unit {
    vertical-align: center;
    display: table;
}

#table-unit .row {
    display: table-row;
}

#table-unit .row div {
    display: table-cell;
    min-height: 40px;
    padding-left: 10px;
}

#table-unit .row div:first-child {
    font-weight: bold;
}


