#table {
    vertical-align: center;
    display: table;
}

#table .row {
    display: table-row;
}

#table .row div {
    display: table-cell;
    min-width: 50px;
    min-height: 40px;
    border-bottom: 1px black solid;
    border-collapse: collapse;
    padding-left: 10px;
}

#table .row:nth-child(1) {
    font-weight: bold;
    background-color: #666;
    color: #fff;
}

#table .row:nth-child(2n) {
    background-color: #f0f0f0;
}

#table .row:nth-child(1) div {
    border-bottom: 2px black solid;
}

#table .row .first {
    min-width: 20px;
}
