<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Logistician</title>
    <h:outputStylesheet library="css" name="logistician.css" target="body"/>
    <h:outputStylesheet library="css" name="table.css" target="body"/>
    <h:outputStylesheet library="css" name="table-unit.css" target="body"/>
    <h:outputScript library="js" name="utils.js"/>

</h:head>

<h:body>
    <div class="main">
        <div class="center" id="panel">
            <div id="table">
                <div class="row">
                    <div>Number</div>
                    <div>Truck</div>
                    <div>Crew size</div>
                    <div>Start</div>
                    <div>Current</div>
                    <div>Finish</div>
                    <div>Not loaded</div>
                    <div>Loaded</div>
                    <div>Delivered</div>
                    <div>Duration</div>
                    <div>Status</div>
                </div>
                <ui:repeat value="#{board.orders}" var="order">
                    <div class="row">
                        <div>#{order.number}</div>
                        <div>#{order.truck}</div>
                        <div>#{order.pilotsCount}</div>
                        <div>#{order.start}</div>
                        <div>#{order.current}</div>
                        <div>#{order.finish}</div>
                        <div>#{order.notLoaded}</div>
                        <div>#{order.loaded}</div>
                        <div>#{order.delivered}</div>
                        <div>#{order.estimatedTime}</div>
                        <div>#{order.status}</div>
                    </div>
                </ui:repeat>
            </div>
        </div>
        <div class="right">
            <table>
                <tr>
                    <td><strong>Pilots</strong></td>
                </tr>
                <tr>
                    <td>Total:</td>
                    <td>#{board.availablePilots + board.unavailablePilots}</td>
                </tr>
                <tr>
                    <td>Available:</td>
                    <td>#{board.availablePilots}</td>
                </tr>
                <tr>
                    <td>Unavailable:</td>
                    <td>#{board.unavailablePilots}</td>
                </tr>
                <tr>
                    <td><strong>Trucks</strong></td>
                </tr>
                <tr>
                    <td>Total:</td>
                    <td>#{board.freeTrucks + board.busyTrucks + board.brokenTrucks}</td>
                </tr>
                <tr>
                    <td>Free:</td>
                    <td>#{board.freeTrucks}</td>
                </tr>
                <tr>
                    <td>Busy:</td>
                    <td>#{board.busyTrucks}</td>
                </tr>
                <tr>
                    <td>Broken:</td>
                    <td>#{board.brokenTrucks}</td>
                </tr>
            </table>
        </div>
    </div>
    <f:websocket channel="boardChannel" scope="application" onmessage="onMessage" />
</h:body>
</html>
